body
{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	color:#808080;
}

a 
{
	color:#3B5998;
	cursor:pointer;
	text-decoration:none;
}

td
{
	font-size:11px;
}

h2
{
	color:#1C2A47;
}

#MessageArea
{
}


.loadingTable, .messageTable
{
	margin-top:100px;
	width:100%;
}
.loadingCell, .messageCell
{
	text-align:center;
	vertical-align:middle;
}

.empty
{
	font-size:14;
	font-weight:bold;
	width:210px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}

.error
{
	font-size:14;
	font-weight:bold;
	width:270px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}

.header 
{
	background:none repeat scroll 0 0 #F2F2F2;
	border-top:1px solid #CCCCCC;

	height:23px;
	padding:6px 0;
	
	color:#333333;
	direction:ltr;
	text-align:left;
	
	margin-bottom:10px;
}

.footer
{
	height:23px;
	padding:6px 0;
	background:none repeat scroll 0 0 #F2F2F2;
	border-top:1px solid #CCCCCC;
}
.controlBar
{
	color:#808080;
	font-weight:bold;
	padding:2px 0;
}

.banner
{
	width:100%;
	vertical-align:middle;
}

.bannerTitle
{
	color:#333333;
	font-size:20px;
	font-weight:bold;
}
.bannerBookmark
{
	text-align:right;
}
.bookmark
{
	display:none;
	width:100%;
	text-align:right;
	float:right;
}

.login
{
	display:none;
	width:400px;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
}

.loginCell
{
	
	color:#333333;
	font-size:16px;
	
	width:100%;
	text-align:center;
}
	
.button
{
	margin:5px;
	
	background-image:url("/cat/facebook/images/facebook_assets.png");
	
	-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
	background-color:#EEEEEE;
	border-color:#999999 #999999 #888888;
	
	border-style:solid;
	border-width:1px;
	display:inline-block;
	outline:medium none;
	padding:3px 6px;
	vertical-align:bottom;

	color:#333333;
	cursor:pointer;
	text-decoration:none;
	font-weight:bold;
}
	.button:active 
	{
		background-color:#DDDDDD;
		background-image:none;
		border-color:#999999;
	}

.bookmarkButton
{
}

.removeButton
{
	float:right;
	margin:0 7px;
	background:url("/cat/facebook/images/delete.png") no-repeat scroll left top transparent;
	display:block;
	height:18px;
	width:18px;
}
	.removeButton:hover
	{
		background-position:right top;
	}
	
.messageContainer
{
	min-height:280px;
}
.messageLine
{
	width:100%;
	border-top:1px solid #E5E5E5;
}

.selectColumn
{
	width:25px;
}

.dateColumn
{
	width:125px;
}

.messageColumn
{
}

.deleteColumn
{
	width:25px;
}

.title
{
	font-weight:bold;
}

.responseContent
{
	color:#22AF0A;
}
