

body {
}
.container {
	margin:20px auto;
    width:$content-width;

}


.content-container {

}

.header {

}

.page {
  width:$page-width;
  min-height:500px;
  border: $border-width $border-color solid;
  float:left;
  padding:$page-padding


}

.header {
  width:100%;
  height:40px;
}