.menu {
  width:$sidebar-width;
  float:left;
	
	.main-menu {
	 position:relative;

	 li {

	   
	   a {
	     text-transform:uppercase;
	     color: $menu-item-text-light;
	     display:block;
       }



     
   }
   
   .menu-item {

     a {
       &:hover {
         color: $menu-item-text-light-hover;
         background: $menu-item-background-light-hover
       }
     }
   
     &.active {
       background: $menu-item-background-light-selected;
     
       & > a {
        color: $menu-item-text-light-selected;
       }
        
	     .sub-menu {
	        display:block;
			 }
     }
    }
   
   
   .sub-item {
     @include border-top-radius(10px);
     @include animate(fadeInLeft, 1s, 0s);
     
     a {
      color: $menu-item-text-light;
       &:hover {
         color: $menu-item-text-light-hover;
         background: $menu-item-background-light-hover;
         @include border-top-radius(10px);

       }
     }



     &.active {
       background: $menu-item-background-light-selected;


       & > a {
        color: $menu-item-text-light-selected;
       }
     }
    }
    
   .sub-menu {
    display:none;
    padding-left:15px;
      }
	}
}