

$menu-item-background-light:rgba(0,0,0, 0.1);
$menu-item-background-light-hover:rgba(255,255,255, 0.1);
$menu-item-text-light:rgba(255,255,255, 0.1);
$menu-item-text-light-hover:rgba(0,0,0, 0.1);



$menu-item-background-dark:rgba(0,0,0, 0.1);
$menu-item-background-dark-hover:rgba(255,255,255,0.1);
$menu-item-background-dark-selected:rgba(255,255,255,0.2);
$menu-item-text-dark:rgba(255,255,255,0.5);
$menu-item-text-dark-hover:rgba(255,255,255,1);
$menu-item-text-dark-selected:rgba(255,255,255,1);


.menu {
  max-width:$content-width;
  height: 100px;
  margin:auto;
	
	.main-menu {
	 position:relative;
	 right:0;
	 
	 li {
	   float:left;
	   
	   a {
	     text-transform:uppercase;
	     font-weight:bold;
	     color: $menu-item-text-dark;
	     display:block;
	     line-height:50px;
	     padding:0 10px;
       }

       a:hover {
         color: $menu-item-text-dark-hover;
         background: $menu-item-background-dark-hover
       }

     
   }
   
   .menu-item {
   
     &.active {
       background: $menu-item-background-dark-selected;
     
       & > a {
        color: $menu-item-text-dark-selected;
       }
        
	     .sub-menu {
	        display:block;
			 }
     }
    }
   
   
   .sub-item {
     
     a {
      color: #333;
     }
     
     &.active {
       background: rgba(0,0,0, 0.1);
       @include border-top-radius(10px);
     
       & > a {
        color: #FFF;
       }
     }
    }
    
   .sub-menu {
    position: absolute;
    right:0;
    display:none;
    padding-top:10px;
   }
	}
}