
.page {
  font-size: $default-font-size;
  text-transform:uppercase;
	.controls{
	  
	  .actions {
	   margin-bottom:10px;

	  }
	  
	  .section {
	   width:100%;
	   float:left;

	   
	    li {
	      height:25px;
	     
	      label {
	        display:block;
          float:left;
          padding-right:10px;
	      }
	      
	      input {
	       margin-right:5px;
	       
	       &.short {
	         width:40px;
	       }
	      }
	    }
	  } // .section
	  
	  .date-picker {
	  }
	  
	} // .controls
	
    
  .edit-text {
   width: 100%;
   height:500px;
  }
}