body {
}
.container {
	@include background-image(linear-gradient(top, #03507D, #ddd));
}


.banner {
	height:50px;
	width:100%;
  background: #222121;
  margin-bottom:60px;
}

.header {
	width:1000px;
  margin:auto;
  
  h1 {
    float:left; 
    margin:0 20px;
    padding:0;
    color: #fff;
  }
}

.page {
  width:1000px;
  min-height:1000px;
  clear:both;
  margin:auto;
  background: #fff;
  padding:10px;
  @include border-top-radius(10px);
}

.header {
	
	h1 {
	 float: left;
	}
}