
.page {
	width:1000px;
	
	.controls{
	  height:150px;
	  
	  .section {
	   width:50%;
	   float:left;
	   
	    li {
	      height:25px;
	     
	      label {
	        width:50%;
	        display:block;
          float:left;
          text-align: right;
          padding-right:10px;
	      }
	      
	      input {
	       margin-right:5px;
	       
	       &.short {
	         width:40px;
	       }
	      }
	    }
	  }
	}
}