<div class="controls">
  <ul class="section">
    <li><label>Title</label><input id="title" type="text" /></li>
    <li><label>Max Coupons</label><input id="max-coupons" type="checkbox" checked />Infinite</li>
    <li><label>Max Redemptions</label><input id="max-redemptions" type="checkbox" checked />Infinite</li>
    <li>
		  <label>Coupon Code</label>
	    <input name="coupon-code" id="random-code" type="radio" checked />Random
	    <input name="coupon-code" id="static-code" type="radio" />Static
    </li>
  </ul>
  
  <ul class="section">
    <li><label>Offer Code</label><input id="offer-code" type="text" /></li>
    <li><label>Unavailable Date</label><input id="unavailable-date" type="text" /></li>
    <li>
	    <label>Expiration</label>
	    <input name="expiration" type="radio" id="exp-never" checked />Never
	    <input name="expiration" type="radio" id="exp-date" />Date
      <input name="expiration" type="radio" id="exp-days" />Days
    </li>
  </ul>
  
  <ul class="available-options clear">
    <li>
      <input name="available" type="radio" id="available" checked />Available
      <input name="available" type="radio" id="unavailable" />Unavailable
    </li>
  </ul>
</div>
<div class="editor"></div>