<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Campaign Admin Tool</display-name>
  <description>Messaging Campaign Administrative Tool</description>
  <context-param>
    <param-name>resteasy.jndi.resources</param-name>
    <param-value>ejb/cat/CampaignManager,ejb/cat/ClientManager,ejb/cat/CouponManager,ejb/cat/ContactManager,ejb/cat/LayoutManager,ejb/cat/SubscriptionManager,ejb/cat/UserManager,ejb/cat/FacebookManager,ejb/cat/ReportingManager</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/spring-security.xml,classpath:/cat-ejbs.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>flex.messaging.HttpFlexSession</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.digitalbarista.cat.timer.CATTimerStartupListener</listener-class>
  </listener>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/rs/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/login/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/logout/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/login</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/logout</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/j_spring_security_check</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>cat-web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/cat-web-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  <servlet>
    <servlet-name>MessageBrokerServlet</servlet-name>
    <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
    <init-param>
      <param-name>services.configuration.file</param-name>
      <param-value>/WEB-INF/flex/services-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageBrokerServlet</servlet-name>
    <url-pattern>/messagebroker/*</url-pattern>
  </servlet-mapping>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>campaign-admin</realm-name>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>restServices</web-resource-name>
      <description>REST Services</description>
      <url-pattern>/rest/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>all roles</description>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
	    <param-name>resteasy.servlet.mapping.prefix</param-name>
	    <param-value>/rest</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ResteasyUnsecure</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
	    <param-name>resteasy.servlet.mapping.prefix</param-name>
	    <param-value>/unsecure/rest</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description></description>
    <display-name>KannelIncomingMessageServlet</display-name>
    <servlet-name>KannelIncomingMessageServlet</servlet-name>
    <servlet-class>com.digitalbarista.cat.servlet.KannelIncomingMessageServlet</servlet-class>
    <run-as>
      <role-name>admin</role-name>
    </run-as>
  </servlet>
	<servlet-mapping>
		<servlet-name>cat-web</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResteasyUnsecure</servlet-name>
    <url-pattern>/unsecure/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KannelIncomingMessageServlet</servlet-name>
    <url-pattern>/kannel-sms</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ContentTypeByExtensionFilter</display-name>
    <filter-name>ContentTypeByExtensionFilter</filter-name>
    <filter-class>com.digitalbarista.cat.servlet.filter.ContentTypeByExtensionFilter</filter-class>
    <init-param>
    	<param-name>xml</param-name>
    	<param-value>application/xml</param-value>
    </init-param>
    <init-param>
    	<param-name>json</param-name>
    	<param-value>application/json</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ContentTypeByExtensionFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <session-config>
  	<session-timeout>60</session-timeout>
  </session-config>
  <distributable/>
</web-app>