<div class="send-coupon">
    <div class="btn-group">
        <button class="btn">New Coupon Message</button>
        <button class="btn">Send Coupon Message</button>
    </div>

    <div class="controls">
    <ul class="section">
        <li><label>Coupon Title</label><input id="title" type="text" value="{{coupon.name}}" placeholder="Type Coupon Title Here"/>(not required but useful for reference purposes)</li>
        <li>
            <label class="control-label">Max Coupons</label>
            <input id="max-coupons" value="{{coupon.maxCoupons}}" class="short" ng-show="!coupon.infiniteCoupons" type="number" />
            <input id="infinite-coupons" class="check" type="checkbox" ng-model="coupon.infiniteCoupons" />
            Infinite
        </li>
        <li>
            <label>Max Redemptions</label>
            <input id="max-redemptions" value="{{coupon.maxRedemptions}}" class="short" ng-show="!coupon.infiniteRedemptions" type="number"  />
            <input id="infinite-redemptions" class="check" type="checkbox" ng-model="coupon.infiniteRedemptions" />
            Infinite
        </li>
        <li>
            <label class="control-label">Coupon Code</label>
            <label class="radio inline"><input name="coupon-code" id="random-code" ng-model="couponCode" type="radio" value="random" checked />Random</label>
            <label class="radio inline"><input name="coupon-code" id="static-code" ng-model="couponCode" type="radio" value="static" />Static</label>
            <input id="static-code-value" class="short" value="{{staticCode}}" type="text" placeholder="Static Coupon Code" ng-show="couponCode == 'static'"/>
        </li>
        <li><label>Offer Code</label><input id="offer-code" type="text" value="{{offerCode}}" placeholder="Type Offer Code Here" />(not required but can be used to reference internal company offer codes)</li>
        <li><label>Unavailable Date</label><input ui-date id="unavailable-date" type="text" ng-model="unavailableDate" /></li>
        <li class="last">
            <label>Expiration</label>
            <label class="radio inline"><input name="expiration" ng-model="expiration" type="radio" id="expire-never" value="never" checked />Never</label>
            <label class="radio inline"><input name="expiration" ng-model="expiration" type="radio" id="expire-date" value="date" />Date</label>
            <label class="radio inline"><input name="expiration" ng-model="expiration" type="radio" id="expire-days" value="days" />Days</label>

        </li>
        <li id="expire-date-control" class="expire-control last" ng-show="expiration == 'date'"><label>Expire On</label><input ui-date id="expire-date-value"  ng-model="expireDate" /></li>
        <li id="expire-days-control" class="expire-control last" ng-show="expiration == 'days'"><label>Expire </label><input id="expire-days-value" class="short" ng-model="expireDays" /> days from send date</li>
    </ul>

    <ul class="available-options clear">
        <li>
            <label class="radio inline"><input name="available" type="radio" id="available" checked />Available</label>
            <label class="radio inline"><input name="available" type="radio" id="unavailable" />Unavailable</label>
        </li>
    </ul>
    </div>

    <textarea ui-tinymce ng-model="tinymce"></textarea>
</div>