<div class="send-coupon">
    <h2>Send Coupon</h2>
    <div class="well">
    <form class="form-horizontal">

        <div class="control-group">
            <label class="control-label">Coupon Title</label>
            <div class="controls">
                <input id="title" type="text" value="{{coupon.name}}" placeholder="Type Coupon Title Here"/>
            </div>
            <p class="controls">(not required but useful for reference purposes)</p>
        </div>
        
        <div class="control-group">
            <label class="control-label">Max Coupons</label>
            <div class="controls">
                <input id="max-coupons" value="{{coupon.maxCoupons}}" class="short" ng-show="!coupon.infiniteCoupons" type="number" />

                <input id="infinite-coupons" type="checkbox" ng-model="coupon.infiniteCoupons" />
                Infinite
            </div>

        </div>
        <div class="control-group">
            <label class="control-label"l>Max Redemptions</label>
            <div class="controls">
                <input id="max-redemptions" value="{{coupon.maxRedemptions}}" class="short" ng-show="!coupon.infiniteRedemptions" type="number"  />
                <input id="infinite-redemptions" class="check" type="checkbox" ng-model="coupon.infiniteRedemptions" />
                Infinite
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Coupon Code</label>
            <div class="controls">
                <label class="radio inline"><input name="coupon-code" id="random-code" ng-model="coupon.couponCode" type="radio" value="random" />Random</label>
                <label class="radio inline"><input name="coupon-code" id="static-code" ng-model="coupon.couponCode" type="radio" value="static" />Static</label>
                <input id="static-code-value" class="short static-code" ng-model="coupon.staticCode" type="text" placeholder="Static Coupon Code" ng-show="coupon.couponCode == 'static'"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Offer Code</label>
            <div class="controls">
                <input id="offer-code" type="text" ng-model="coupon.offerCode" placeholder="Type Offer Code Here" />
            </div>
            <div class="controls">
                (not required but can be used to reference internal company offer codes)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Unavailable Date</label>
            <div class="controls">
                <input ui-date id="unavailable-date" type="text" ng-model="coupon.unavailableDate" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Expiration</label>
            <div class="controls">
                <label class="radio inline"><input name="expiration" ng-model="coupon.expiration" type="radio" id="expire-never" value="never" />Never</label>
                <label class="radio inline"><input name="expiration" ng-model="coupon.expiration" type="radio" id="expire-date" value="date" />Date</label>
                <label class="radio inline"><input name="expiration" ng-model="coupon.expiration" type="radio" id="expire-days" value="days" />Days</label>
            </div>
        </div>
        <div class="control-group"  ng-show="coupon.expiration == 'date'">
            <label class="control-label">Expire On</label>
            <div class="controls">
                <input ui-date id="expire-date-value"  ng-model="expireDate" />
            </div>
        </div>
        <div class="control-group"   ng-show="coupon.expiration == 'days'">
            <label class="control-label">Expire</label>
            <div class="controls">
                <input id="expire-days-value" type="number" class="short" ng-model="expireDays" /> days from send date
            </div>
        </div>
    </form>

    </div>

    <div class="well">
        <label class="radio inline"><input name="available" type="radio" ng-model="coupon.available" value="available" />Available</label>
        <label class="radio inline"><input name="available" type="radio" ng-model="coupon.available" value="unavailable" />Unavailable</label>
        <div class="btn-group pull-right">
            <button class="btn" ng-click="resetCoupon()">New Coupon Message</button>
            <button class="btn btn-primary" ng-click="chooseNetworks()">Send Coupon</button>
        </div>
    </div>
    <textarea class="message-editor" ui-tinymce ng-model="coupon.message"></textarea>


    <div ui-modal class="fade" ng-model="showConfirmReset" id="resetModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Reset Coupon Message</h3>
        </div>
        <div class="modal-body">
        Reset all the form fields and edit a new coupon messages?
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">No</button>
            <button class="btn btn-primary" ng-click="confirmReset()">Yes</button>
        </div>
    </div>

    <div ui-modal class="fade" ng-model="showSendCoupon" id="sendModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Send Coupon</h3>
        </div>
        <div class="modal-body">
            Send this coupon to <strong>{{contacts}}</strong> Facebook contacts?
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">No</button>
            <button class="btn btn-primary" ng-click="sendCoupon()">Yes</button>
        </div>
    </div>

    <div choosenetworks class=""></div>
</div>