<div class="sent-broadcast">
    <h2 class="header">Sent Broadcasts</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type</th>
            <th>Title</th>
            <th>Date Sent</th>
            <th>Redemptions</th>
            <th>Subscribers</th>
            <th>Message</th>
            <th></th>
        </tr>
        </thead>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>

</div>