<div class="sent-coupons">
    <h2>Sent Coupons</h2>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Campaign</th>
            <th>Coupon</th>
            <th>Unavailable Date</th>
            <th>Expiration Date</th>
            <th>Expiration Days</th>
            <th>Sent</th>
            <th>Redeemed</th>
            <th>Avg. Time to Redeem</th>
        </tr>
        <tr ng-repeat="coupon in coupons">
            <td>{{coupon.campaignName}}</td>
            <td>{{coupon.couponName}}</td>
            <td>{{coupon.unavailableDate | date:'yyy/MM/dd'}}</td>
            <td>{{coupon.expireDate | date:'yyyy/MM/dd'}}</td>
            <td>{{coupon.expireDays}}</td>
            <td>{{coupon.issuedCouponCount}}</td>
            <td>{{coupon.totalRedemptionCount}}</td>
            <td>{{coupon.averageRedemptionTime | timelength}}</td>
        </tr>
        </thead>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>