<div ui-modal class="fade" ng-model="showSessionTimeout" id="sessionTimeout" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h3>Your session is about to expire!</h3>
    </div>
    <div class="modal-body">
        <p>Your session is going to expire in <span class="bold">{{timeRemaining | date:'m:ss'}}</span> and you
        will be signed out.</p>
        <p>Do you want to stay signed in and continue working?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="logout()">No, Sign Out</button>
        <button class="btn btn-primary" ng-click="refreshSession()">Yes, Stay Signed In</button>
    </div>
</div>