#MessageArea
{
}

.loadingMessage
{
	width:160px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}
.loadingIcon
{
	width:50px;
	margin-left:auto;
	margin-right:auto;
}

.empty
{
	font-size:14;
	font-weight:bold;
	width:210px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}
.controlBar
{
	text-align:right;
}

.messageTable
{
	width:100%;
}

.title
{
	font-weight:bold;
	font-size:14;
}

.headerRow, a
{
	color:#FFFFFF;
	font-size:16;
	font-weight:bold;
	background-color:#3B5998;
}