ControlBar
{
	paddingTop:2;
	paddingBottom:2;
	horizontalAlign:right;
}
List
{
	dropIndicatorSkin:ClassReference("com.dbi.skins.BlankSkin");
}

FormattedComboBox
{
	disabledSkin:ClassReference("com.dbi.skins.BlankSkin");
	disabledColor:#000000;
}
ProgressBar
{
	barColor:#B2DC32;
}
RowIndex
{
	color:#CCCCCC;
}
RichTextEditor
{
	
	closeButtonDisabledSkin: ClassReference("com.dbi.skins.BlankSkin");
	closeButtonDownSkin: ClassReference("com.dbi.skins.BlankSkin");
	closeButtonOverSkin: ClassReference("com.dbi.skins.BlankSkin");
	closeButtonUpSkin: ClassReference("com.dbi.skins.BlankSkin");
	titleBackgroundSkin: ClassReference("com.dbi.skins.BlankSkin");
	borderSkin: ClassReference("com.dbi.skins.BlankSkin");
	
	borderColor: #A1A5AF;
	borderAlpha: 1;
	backgroundColor: #eeeeee;
	backgroundAlpha: 1;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessLeft: 4;
	borderThicknessRight: 4;
	cornerRadius: 10;
	headerHeight: 5;
	
}
.dashboardLabel
{
	paddingTop:30;
	paddingBottom:10;
	fontSize:18;
	fontWeight:bold;
}
.dashboardSubLabel1
{
	fontSize:14;
	fontWeight:bold;
}
.dashboardSubLabel2
{
	fontSize:14;
	fontWeight:bold;
	paddingLeft:30;
}
.dashboardDataLabel
{
	fontSize:14;
	fontWeight:bold;
}
.dashboardTitle
{
	fontSize:18;
	fontWeight:bold;
}

.tagMessage
{
	fontSize:14;
	backgroundColor:#C9CED1;
}
.navBar
{
}
.navTab
{
	backgroundColor:#C9CED1;
}
.navTabSelected
{
	backgroundColor:#FFFFFF;
}
.navTabOver
{
	backgroundColor:#eaeaea;
}

.headerTitle
{
	fontSize:24;
	fontWeight:bold;
}
.filterBox
{
}

.successMessage
{
	fontSize:20;
	color:#00CC00;
}
.failMessage
{
	fontSize:20;
	color:#CC0000;
}
.workspaceStatusMessage
{
	padding-left:5;
	padding-right:5;
	backgroundColor:#00AA00;
	color:#FFFFFF;
}
.generalStatusMessage
{
	padding-left:5;
	padding-right:5;
	backgroundColor:#00AA00;
	color:#FFFFFF;
}
.componentTree
{
	backgroundColor:#FFFFFF;
	borderStyle:none;
}
.componentHeader
{
	color: #5a5c59;
	fontSize:14;
	fontWeight:bold;
	backgroundColor:#CCCCCC;
}
.treeFolder
{
	fontSize:12;
	fontWeight:bold;
}

.selectedNavButton
{
	fontSize:16;
	disabledColor:#FFFFFF;
}

.rangeLabel
{
	fontWeight:bold;
}
.rangeButton
{
	padding-left:0;
	padding-right:0;
	padding-top:0;
	padding-bottom:0;
}

.chartLabel
{
	fontWeight:bold;
}

.modifiedMessageTab
{
	color:#FF0000;
}

.campaignSelectMenu
{
	backgroundColor:#FFFFFF;
	borderStyle:solid;
	borderColor:#000000;
}