.login {
  position:absolute;
  top:30%;
  left: 50%;
  margin-left: -235;
  width: 475px;

  input {
    height: 30px;
  }

  form {
    margin: 0;
  }

  .control-group {
    margin-top:20px;
  }
}