.controls {
  label {
    display:inline;
  }

  .short {
    width: 50px;
  }

}

.control-button {
  float: right;
}

.message-editor {
  margin-bottom:10px;
}

.send-message {
  .control-group {
    margin-bottom:0;
  }
}

.sent-broadcast {
  .header {
    font-weight: bold;
  }
}