/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../scss/_boilerplate.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../scss/_boilerplate.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../scss/_boilerplate.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../scss/_boilerplate.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../scss/_boilerplate.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../scss/_boilerplate.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../scss/_boilerplate.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* line 45, ../scss/_boilerplate.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 46, ../scss/_boilerplate.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 53, ../scss/_boilerplate.scss */
a {
  color: #00e;
}

/* line 54, ../scss/_boilerplate.scss */
a:visited {
  color: #551a8b;
}

/* line 55, ../scss/_boilerplate.scss */
a:hover {
  color: #06e;
}

/* line 56, ../scss/_boilerplate.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 59, ../scss/_boilerplate.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 66, ../scss/_boilerplate.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 68, ../scss/_boilerplate.scss */
b, strong {
  font-weight: bold;
}

/* line 70, ../scss/_boilerplate.scss */
blockquote {
  margin: 1em 40px;
}

/* line 72, ../scss/_boilerplate.scss */
dfn {
  font-style: italic;
}

/* line 74, ../scss/_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 76, ../scss/_boilerplate.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 78, ../scss/_boilerplate.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 81, ../scss/_boilerplate.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 84, ../scss/_boilerplate.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 86, ../scss/_boilerplate.scss */
q {
  quotes: none;
}

/* line 87, ../scss/_boilerplate.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 89, ../scss/_boilerplate.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 92, ../scss/_boilerplate.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 93, ../scss/_boilerplate.scss */
sup {
  top: -0.5em;
}

/* line 94, ../scss/_boilerplate.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 101, ../scss/_boilerplate.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 102, ../scss/_boilerplate.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 103, ../scss/_boilerplate.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 115, ../scss/_boilerplate.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 121, ../scss/_boilerplate.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 128, ../scss/_boilerplate.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 135, ../scss/_boilerplate.scss */
form {
  margin: 0;
}

/* line 136, ../scss/_boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 139, ../scss/_boilerplate.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 146, ../scss/_boilerplate.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 154, ../scss/_boilerplate.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 160, ../scss/_boilerplate.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 168, ../scss/_boilerplate.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 174, ../scss/_boilerplate.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 180, ../scss/_boilerplate.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 181, ../scss/_boilerplate.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 182, ../scss/_boilerplate.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 188, ../scss/_boilerplate.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 195, ../scss/_boilerplate.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 199, ../scss/_boilerplate.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 206, ../scss/_boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 207, ../scss/_boilerplate.scss */
td {
  vertical-align: top;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
/* line 214, ../scss/_boilerplate.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 253, ../scss/_boilerplate.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 254, ../scss/_boilerplate.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 257, ../scss/_boilerplate.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 260, ../scss/_boilerplate.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 263, ../scss/_boilerplate.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 266, ../scss/_boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 269, ../scss/_boilerplate.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 270, ../scss/_boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 271, ../scss/_boilerplate.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 281, ../scss/_boilerplate.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 282, ../scss/_boilerplate.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 283, ../scss/_boilerplate.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 284, ../scss/_boilerplate.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 285, ../scss/_boilerplate.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 286, ../scss/_boilerplate.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 287, ../scss/_boilerplate.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 288, ../scss/_boilerplate.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 289, ../scss/_boilerplate.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 291, ../scss/_boilerplate.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 292, ../scss/_boilerplate.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../scss/_global.scss */
a {
  text-decoration: none;
}

/* line 4, ../scss/_global.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 8, ../scss/_global.scss */
li {
  list-style-type: none;
}

/* line 12, ../scss/_global.scss */
.hidden {
  display: none;
}

/* line 16, ../scss/_global.scss */
.clear {
  clear: both;
}

/* line 21, ../scss/_global.scss */
.button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 14px #ffffff;
}

/* line 42, ../scss/_global.scss */
.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
}

/* line 48, ../scss/_global.scss */
.button:active {
  position: relative;
  top: 1px;
}

/* line 3, ../scss/_layout.scss */
.container {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #03507d), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #03507d, #dddddd);
  background-image: -moz-linear-gradient(top, #03507d, #dddddd);
  background-image: -o-linear-gradient(top, #03507d, #dddddd);
  background-image: -ms-linear-gradient(top, #03507d, #dddddd);
  background-image: linear-gradient(top, #03507d, #dddddd);
}

/* line 8, ../scss/_layout.scss */
.banner {
  height: 50px;
  width: 100%;
  background: #222121;
  margin-bottom: 60px;
}

/* line 15, ../scss/_layout.scss */
.header {
  width: 1000px;
  margin: auto;
}
/* line 19, ../scss/_layout.scss */
.header h1 {
  float: left;
  margin: 0 20px;
  padding: 0;
  color: #fff;
}

/* line 27, ../scss/_layout.scss */
.page {
  width: 1000px;
  min-height: 1000px;
  clear: both;
  margin: auto;
  background: #fff;
  padding: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 39, ../scss/_layout.scss */
.header h1 {
  float: left;
}

/* line 2, ../scss/_menu.scss */
.menu {
  width: 1000px;
  height: 100px;
  margin: auto;
}
/* line 7, ../scss/_menu.scss */
.menu .main-menu {
  position: relative;
  right: 0;
}
/* line 11, ../scss/_menu.scss */
.menu .main-menu li {
  float: left;
}
/* line 14, ../scss/_menu.scss */
.menu .main-menu li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
  display: block;
  line-height: 50px;
  padding: 0 10px;
}
/* line 27, ../scss/_menu.scss */
.menu .main-menu .menu-item.active {
  background: rgba(255, 255, 255, 0.1);
}
/* line 30, ../scss/_menu.scss */
.menu .main-menu .menu-item.active > a {
  color: #FFF;
}
/* line 34, ../scss/_menu.scss */
.menu .main-menu .menu-item.active .sub-menu {
  display: block;
}
/* line 43, ../scss/_menu.scss */
.menu .main-menu .sub-item a {
  color: #333;
}
/* line 47, ../scss/_menu.scss */
.menu .main-menu .sub-item.active {
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 51, ../scss/_menu.scss */
.menu .main-menu .sub-item.active > a {
  color: #FFF;
}
/* line 57, ../scss/_menu.scss */
.menu .main-menu .sub-menu {
  position: absolute;
  right: 0;
  display: none;
  padding-top: 10px;
}

/* line 6, ../scss/_message.scss */
.page .controls .actions {
  margin-bottom: 10px;
}
/* line 10, ../scss/_message.scss */
.page .controls .section {
  width: 50%;
  float: left;
}
/* line 14, ../scss/_message.scss */
.page .controls .section li {
  height: 25px;
}
/* line 17, ../scss/_message.scss */
.page .controls .section li label {
  width: 50%;
  display: block;
  float: left;
  text-align: right;
  padding-right: 10px;
}
/* line 25, ../scss/_message.scss */
.page .controls .section li input {
  margin-right: 5px;
}
/* line 28, ../scss/_message.scss */
.page .controls .section li input.short {
  width: 40px;
}
/* line 41, ../scss/_message.scss */
.page .edit-text {
  width: 100%;
  height: 500px;
}

/*
 * jQuery UI CSS Framework 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
/* Layout helpers
----------------------------------*/
/* line 13, ../scss/_jqueryui.scss */
.ui-helper-hidden {
  display: none;
}

/* line 14, ../scss/_jqueryui.scss */
.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 15, ../scss/_jqueryui.scss */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 16, ../scss/_jqueryui.scss */
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
}

/* line 17, ../scss/_jqueryui.scss */
.ui-helper-clearfix:after {
  clear: both;
}

/* line 18, ../scss/_jqueryui.scss */
.ui-helper-clearfix {
  zoom: 1;
}

/* line 19, ../scss/_jqueryui.scss */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* Interaction Cues
----------------------------------*/
/* line 24, ../scss/_jqueryui.scss */
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
/* line 31, ../scss/_jqueryui.scss */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
/* line 38, ../scss/_jqueryui.scss */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * jQuery UI CSS Framework 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS,%20Tahoma,%20Verdana,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
 */
/* Component containers
----------------------------------*/
/* line 56, ../scss/_jqueryui.scss */
.ui-widget {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1.1em;
}

/* line 57, ../scss/_jqueryui.scss */
.ui-widget .ui-widget {
  font-size: 1em;
}

/* line 58, ../scss/_jqueryui.scss */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1em;
}

/* line 59, ../scss/_jqueryui.scss */
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
  color: #333333;
}

/* line 60, ../scss/_jqueryui.scss */
.ui-widget-content a {
  color: #333333;
}

/* line 61, ../scss/_jqueryui.scss */
.ui-widget-header {
  border: 1px solid #e78f08;
  background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
  color: #ffffff;
  font-weight: bold;
}

/* line 62, ../scss/_jqueryui.scss */
.ui-widget-header a {
  color: #ffffff;
}

/* Interaction states
----------------------------------*/
/* line 66, ../scss/_jqueryui.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #cccccc;
  background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #1c94c4;
}

/* line 67, ../scss/_jqueryui.scss */
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #1c94c4;
  text-decoration: none;
}

/* line 68, ../scss/_jqueryui.scss */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #fbcb09;
  background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #c77405;
}

/* line 69, ../scss/_jqueryui.scss */
.ui-state-hover a, .ui-state-hover a:hover {
  color: #c77405;
  text-decoration: none;
}

/* line 70, ../scss/_jqueryui.scss */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #fbd850;
  background: white url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #eb8f00;
}

/* line 71, ../scss/_jqueryui.scss */
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #eb8f00;
  text-decoration: none;
}

/* line 72, ../scss/_jqueryui.scss */
.ui-widget :active {
  outline: none;
}

/* Interaction Cues
----------------------------------*/
/* line 76, ../scss/_jqueryui.scss */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #fed22f;
  background: #ffe45c url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
  color: #363636;
}

/* line 77, ../scss/_jqueryui.scss */
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #363636;
}

/* line 78, ../scss/_jqueryui.scss */
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
  color: #ffffff;
}

/* line 79, ../scss/_jqueryui.scss */
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #ffffff;
}

/* line 80, ../scss/_jqueryui.scss */
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #ffffff;
}

/* line 81, ../scss/_jqueryui.scss */
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

/* line 82, ../scss/_jqueryui.scss */
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

/* line 83, ../scss/_jqueryui.scss */
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

/* Icons
----------------------------------*/
/* states and images */
/* line 89, ../scss/_jqueryui.scss */
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(images/ui-icons_222222_256x240.png);
}

/* line 90, ../scss/_jqueryui.scss */
.ui-widget-content .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png);
}

/* line 91, ../scss/_jqueryui.scss */
.ui-widget-header .ui-icon {
  background-image: url(images/ui-icons_ffffff_256x240.png);
}

/* line 92, ../scss/_jqueryui.scss */
.ui-state-default .ui-icon {
  background-image: url(images/ui-icons_ef8c08_256x240.png);
}

/* line 93, ../scss/_jqueryui.scss */
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background-image: url(images/ui-icons_ef8c08_256x240.png);
}

/* line 94, ../scss/_jqueryui.scss */
.ui-state-active .ui-icon {
  background-image: url(images/ui-icons_ef8c08_256x240.png);
}

/* line 95, ../scss/_jqueryui.scss */
.ui-state-highlight .ui-icon {
  background-image: url(images/ui-icons_228ef1_256x240.png);
}

/* line 96, ../scss/_jqueryui.scss */
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(images/ui-icons_ffd27a_256x240.png);
}

/* positioning */
/* line 99, ../scss/_jqueryui.scss */
.ui-icon-carat-1-n {
  background-position: 0 0;
}

/* line 100, ../scss/_jqueryui.scss */
.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

/* line 101, ../scss/_jqueryui.scss */
.ui-icon-carat-1-e {
  background-position: -32px 0;
}

/* line 102, ../scss/_jqueryui.scss */
.ui-icon-carat-1-se {
  background-position: -48px 0;
}

/* line 103, ../scss/_jqueryui.scss */
.ui-icon-carat-1-s {
  background-position: -64px 0;
}

/* line 104, ../scss/_jqueryui.scss */
.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

/* line 105, ../scss/_jqueryui.scss */
.ui-icon-carat-1-w {
  background-position: -96px 0;
}

/* line 106, ../scss/_jqueryui.scss */
.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

/* line 107, ../scss/_jqueryui.scss */
.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

/* line 108, ../scss/_jqueryui.scss */
.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

/* line 109, ../scss/_jqueryui.scss */
.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

/* line 110, ../scss/_jqueryui.scss */
.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

/* line 111, ../scss/_jqueryui.scss */
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

/* line 112, ../scss/_jqueryui.scss */
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

/* line 113, ../scss/_jqueryui.scss */
.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/* line 114, ../scss/_jqueryui.scss */
.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

/* line 115, ../scss/_jqueryui.scss */
.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

/* line 116, ../scss/_jqueryui.scss */
.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

/* line 117, ../scss/_jqueryui.scss */
.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

/* line 118, ../scss/_jqueryui.scss */
.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

/* line 119, ../scss/_jqueryui.scss */
.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

/* line 120, ../scss/_jqueryui.scss */
.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

/* line 121, ../scss/_jqueryui.scss */
.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

/* line 122, ../scss/_jqueryui.scss */
.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

/* line 123, ../scss/_jqueryui.scss */
.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

/* line 124, ../scss/_jqueryui.scss */
.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

/* line 125, ../scss/_jqueryui.scss */
.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

/* line 126, ../scss/_jqueryui.scss */
.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

/* line 127, ../scss/_jqueryui.scss */
.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

/* line 128, ../scss/_jqueryui.scss */
.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

/* line 129, ../scss/_jqueryui.scss */
.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

/* line 130, ../scss/_jqueryui.scss */
.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

/* line 131, ../scss/_jqueryui.scss */
.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

/* line 132, ../scss/_jqueryui.scss */
.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

/* line 133, ../scss/_jqueryui.scss */
.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

/* line 134, ../scss/_jqueryui.scss */
.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

/* line 135, ../scss/_jqueryui.scss */
.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

/* line 136, ../scss/_jqueryui.scss */
.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

/* line 137, ../scss/_jqueryui.scss */
.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

/* line 138, ../scss/_jqueryui.scss */
.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

/* line 139, ../scss/_jqueryui.scss */
.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

/* line 140, ../scss/_jqueryui.scss */
.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

/* line 141, ../scss/_jqueryui.scss */
.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

/* line 142, ../scss/_jqueryui.scss */
.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

/* line 143, ../scss/_jqueryui.scss */
.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

/* line 144, ../scss/_jqueryui.scss */
.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

/* line 145, ../scss/_jqueryui.scss */
.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

/* line 146, ../scss/_jqueryui.scss */
.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

/* line 147, ../scss/_jqueryui.scss */
.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

/* line 148, ../scss/_jqueryui.scss */
.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

/* line 149, ../scss/_jqueryui.scss */
.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

/* line 150, ../scss/_jqueryui.scss */
.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

/* line 151, ../scss/_jqueryui.scss */
.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

/* line 152, ../scss/_jqueryui.scss */
.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

/* line 153, ../scss/_jqueryui.scss */
.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

/* line 154, ../scss/_jqueryui.scss */
.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

/* line 155, ../scss/_jqueryui.scss */
.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

/* line 156, ../scss/_jqueryui.scss */
.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

/* line 157, ../scss/_jqueryui.scss */
.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

/* line 158, ../scss/_jqueryui.scss */
.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

/* line 159, ../scss/_jqueryui.scss */
.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

/* line 160, ../scss/_jqueryui.scss */
.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

/* line 161, ../scss/_jqueryui.scss */
.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

/* line 162, ../scss/_jqueryui.scss */
.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

/* line 163, ../scss/_jqueryui.scss */
.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

/* line 164, ../scss/_jqueryui.scss */
.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

/* line 165, ../scss/_jqueryui.scss */
.ui-icon-extlink {
  background-position: -32px -80px;
}

/* line 166, ../scss/_jqueryui.scss */
.ui-icon-newwin {
  background-position: -48px -80px;
}

/* line 167, ../scss/_jqueryui.scss */
.ui-icon-refresh {
  background-position: -64px -80px;
}

/* line 168, ../scss/_jqueryui.scss */
.ui-icon-shuffle {
  background-position: -80px -80px;
}

/* line 169, ../scss/_jqueryui.scss */
.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

/* line 170, ../scss/_jqueryui.scss */
.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

/* line 171, ../scss/_jqueryui.scss */
.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

/* line 172, ../scss/_jqueryui.scss */
.ui-icon-folder-open {
  background-position: -16px -96px;
}

/* line 173, ../scss/_jqueryui.scss */
.ui-icon-document {
  background-position: -32px -96px;
}

/* line 174, ../scss/_jqueryui.scss */
.ui-icon-document-b {
  background-position: -48px -96px;
}

/* line 175, ../scss/_jqueryui.scss */
.ui-icon-note {
  background-position: -64px -96px;
}

/* line 176, ../scss/_jqueryui.scss */
.ui-icon-mail-closed {
  background-position: -80px -96px;
}

/* line 177, ../scss/_jqueryui.scss */
.ui-icon-mail-open {
  background-position: -96px -96px;
}

/* line 178, ../scss/_jqueryui.scss */
.ui-icon-suitcase {
  background-position: -112px -96px;
}

/* line 179, ../scss/_jqueryui.scss */
.ui-icon-comment {
  background-position: -128px -96px;
}

/* line 180, ../scss/_jqueryui.scss */
.ui-icon-person {
  background-position: -144px -96px;
}

/* line 181, ../scss/_jqueryui.scss */
.ui-icon-print {
  background-position: -160px -96px;
}

/* line 182, ../scss/_jqueryui.scss */
.ui-icon-trash {
  background-position: -176px -96px;
}

/* line 183, ../scss/_jqueryui.scss */
.ui-icon-locked {
  background-position: -192px -96px;
}

/* line 184, ../scss/_jqueryui.scss */
.ui-icon-unlocked {
  background-position: -208px -96px;
}

/* line 185, ../scss/_jqueryui.scss */
.ui-icon-bookmark {
  background-position: -224px -96px;
}

/* line 186, ../scss/_jqueryui.scss */
.ui-icon-tag {
  background-position: -240px -96px;
}

/* line 187, ../scss/_jqueryui.scss */
.ui-icon-home {
  background-position: 0 -112px;
}

/* line 188, ../scss/_jqueryui.scss */
.ui-icon-flag {
  background-position: -16px -112px;
}

/* line 189, ../scss/_jqueryui.scss */
.ui-icon-calendar {
  background-position: -32px -112px;
}

/* line 190, ../scss/_jqueryui.scss */
.ui-icon-cart {
  background-position: -48px -112px;
}

/* line 191, ../scss/_jqueryui.scss */
.ui-icon-pencil {
  background-position: -64px -112px;
}

/* line 192, ../scss/_jqueryui.scss */
.ui-icon-clock {
  background-position: -80px -112px;
}

/* line 193, ../scss/_jqueryui.scss */
.ui-icon-disk {
  background-position: -96px -112px;
}

/* line 194, ../scss/_jqueryui.scss */
.ui-icon-calculator {
  background-position: -112px -112px;
}

/* line 195, ../scss/_jqueryui.scss */
.ui-icon-zoomin {
  background-position: -128px -112px;
}

/* line 196, ../scss/_jqueryui.scss */
.ui-icon-zoomout {
  background-position: -144px -112px;
}

/* line 197, ../scss/_jqueryui.scss */
.ui-icon-search {
  background-position: -160px -112px;
}

/* line 198, ../scss/_jqueryui.scss */
.ui-icon-wrench {
  background-position: -176px -112px;
}

/* line 199, ../scss/_jqueryui.scss */
.ui-icon-gear {
  background-position: -192px -112px;
}

/* line 200, ../scss/_jqueryui.scss */
.ui-icon-heart {
  background-position: -208px -112px;
}

/* line 201, ../scss/_jqueryui.scss */
.ui-icon-star {
  background-position: -224px -112px;
}

/* line 202, ../scss/_jqueryui.scss */
.ui-icon-link {
  background-position: -240px -112px;
}

/* line 203, ../scss/_jqueryui.scss */
.ui-icon-cancel {
  background-position: 0 -128px;
}

/* line 204, ../scss/_jqueryui.scss */
.ui-icon-plus {
  background-position: -16px -128px;
}

/* line 205, ../scss/_jqueryui.scss */
.ui-icon-plusthick {
  background-position: -32px -128px;
}

/* line 206, ../scss/_jqueryui.scss */
.ui-icon-minus {
  background-position: -48px -128px;
}

/* line 207, ../scss/_jqueryui.scss */
.ui-icon-minusthick {
  background-position: -64px -128px;
}

/* line 208, ../scss/_jqueryui.scss */
.ui-icon-close {
  background-position: -80px -128px;
}

/* line 209, ../scss/_jqueryui.scss */
.ui-icon-closethick {
  background-position: -96px -128px;
}

/* line 210, ../scss/_jqueryui.scss */
.ui-icon-key {
  background-position: -112px -128px;
}

/* line 211, ../scss/_jqueryui.scss */
.ui-icon-lightbulb {
  background-position: -128px -128px;
}

/* line 212, ../scss/_jqueryui.scss */
.ui-icon-scissors {
  background-position: -144px -128px;
}

/* line 213, ../scss/_jqueryui.scss */
.ui-icon-clipboard {
  background-position: -160px -128px;
}

/* line 214, ../scss/_jqueryui.scss */
.ui-icon-copy {
  background-position: -176px -128px;
}

/* line 215, ../scss/_jqueryui.scss */
.ui-icon-contact {
  background-position: -192px -128px;
}

/* line 216, ../scss/_jqueryui.scss */
.ui-icon-image {
  background-position: -208px -128px;
}

/* line 217, ../scss/_jqueryui.scss */
.ui-icon-video {
  background-position: -224px -128px;
}

/* line 218, ../scss/_jqueryui.scss */
.ui-icon-script {
  background-position: -240px -128px;
}

/* line 219, ../scss/_jqueryui.scss */
.ui-icon-alert {
  background-position: 0 -144px;
}

/* line 220, ../scss/_jqueryui.scss */
.ui-icon-info {
  background-position: -16px -144px;
}

/* line 221, ../scss/_jqueryui.scss */
.ui-icon-notice {
  background-position: -32px -144px;
}

/* line 222, ../scss/_jqueryui.scss */
.ui-icon-help {
  background-position: -48px -144px;
}

/* line 223, ../scss/_jqueryui.scss */
.ui-icon-check {
  background-position: -64px -144px;
}

/* line 224, ../scss/_jqueryui.scss */
.ui-icon-bullet {
  background-position: -80px -144px;
}

/* line 225, ../scss/_jqueryui.scss */
.ui-icon-radio-off {
  background-position: -96px -144px;
}

/* line 226, ../scss/_jqueryui.scss */
.ui-icon-radio-on {
  background-position: -112px -144px;
}

/* line 227, ../scss/_jqueryui.scss */
.ui-icon-pin-w {
  background-position: -128px -144px;
}

/* line 228, ../scss/_jqueryui.scss */
.ui-icon-pin-s {
  background-position: -144px -144px;
}

/* line 229, ../scss/_jqueryui.scss */
.ui-icon-play {
  background-position: 0 -160px;
}

/* line 230, ../scss/_jqueryui.scss */
.ui-icon-pause {
  background-position: -16px -160px;
}

/* line 231, ../scss/_jqueryui.scss */
.ui-icon-seek-next {
  background-position: -32px -160px;
}

/* line 232, ../scss/_jqueryui.scss */
.ui-icon-seek-prev {
  background-position: -48px -160px;
}

/* line 233, ../scss/_jqueryui.scss */
.ui-icon-seek-end {
  background-position: -64px -160px;
}

/* line 234, ../scss/_jqueryui.scss */
.ui-icon-seek-start {
  background-position: -80px -160px;
}

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
/* line 236, ../scss/_jqueryui.scss */
.ui-icon-seek-first {
  background-position: -80px -160px;
}

/* line 237, ../scss/_jqueryui.scss */
.ui-icon-stop {
  background-position: -96px -160px;
}

/* line 238, ../scss/_jqueryui.scss */
.ui-icon-eject {
  background-position: -112px -160px;
}

/* line 239, ../scss/_jqueryui.scss */
.ui-icon-volume-off {
  background-position: -128px -160px;
}

/* line 240, ../scss/_jqueryui.scss */
.ui-icon-volume-on {
  background-position: -144px -160px;
}

/* line 241, ../scss/_jqueryui.scss */
.ui-icon-power {
  background-position: 0 -176px;
}

/* line 242, ../scss/_jqueryui.scss */
.ui-icon-signal-diag {
  background-position: -16px -176px;
}

/* line 243, ../scss/_jqueryui.scss */
.ui-icon-signal {
  background-position: -32px -176px;
}

/* line 244, ../scss/_jqueryui.scss */
.ui-icon-battery-0 {
  background-position: -48px -176px;
}

/* line 245, ../scss/_jqueryui.scss */
.ui-icon-battery-1 {
  background-position: -64px -176px;
}

/* line 246, ../scss/_jqueryui.scss */
.ui-icon-battery-2 {
  background-position: -80px -176px;
}

/* line 247, ../scss/_jqueryui.scss */
.ui-icon-battery-3 {
  background-position: -96px -176px;
}

/* line 248, ../scss/_jqueryui.scss */
.ui-icon-circle-plus {
  background-position: 0 -192px;
}

/* line 249, ../scss/_jqueryui.scss */
.ui-icon-circle-minus {
  background-position: -16px -192px;
}

/* line 250, ../scss/_jqueryui.scss */
.ui-icon-circle-close {
  background-position: -32px -192px;
}

/* line 251, ../scss/_jqueryui.scss */
.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

/* line 252, ../scss/_jqueryui.scss */
.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

/* line 253, ../scss/_jqueryui.scss */
.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

/* line 254, ../scss/_jqueryui.scss */
.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

/* line 255, ../scss/_jqueryui.scss */
.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

/* line 256, ../scss/_jqueryui.scss */
.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

/* line 257, ../scss/_jqueryui.scss */
.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

/* line 258, ../scss/_jqueryui.scss */
.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

/* line 259, ../scss/_jqueryui.scss */
.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

/* line 260, ../scss/_jqueryui.scss */
.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

/* line 261, ../scss/_jqueryui.scss */
.ui-icon-circle-check {
  background-position: -208px -192px;
}

/* line 262, ../scss/_jqueryui.scss */
.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

/* line 263, ../scss/_jqueryui.scss */
.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

/* line 264, ../scss/_jqueryui.scss */
.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

/* line 265, ../scss/_jqueryui.scss */
.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

/* line 266, ../scss/_jqueryui.scss */
.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

/* line 267, ../scss/_jqueryui.scss */
.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

/* line 268, ../scss/_jqueryui.scss */
.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

/* line 269, ../scss/_jqueryui.scss */
.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

/* line 270, ../scss/_jqueryui.scss */
.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

/* line 271, ../scss/_jqueryui.scss */
.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

/* line 272, ../scss/_jqueryui.scss */
.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

/* line 273, ../scss/_jqueryui.scss */
.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

/* Misc visuals
----------------------------------*/
/* Corner radius */
/* line 280, ../scss/_jqueryui.scss */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}

/* line 281, ../scss/_jqueryui.scss */
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 282, ../scss/_jqueryui.scss */
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 283, ../scss/_jqueryui.scss */
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Overlays */
/* line 286, ../scss/_jqueryui.scss */
.ui-widget-overlay {
  background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
  opacity: .50;
  filter: Alpha(Opacity=50);
}

/* line 287, ../scss/_jqueryui.scss */
.ui-widget-shadow {
  margin: -5px 0 0 -5px;
  padding: 5px;
  background: black url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x;
  opacity: .20;
  filter: Alpha(Opacity=20);
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

                                                                                                                                                                                                                                                                                      /*
* jQuery UI Datepicker 1.8.20
*
* Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Datepicker#theming
*/
/* line 296, ../scss/_jqueryui.scss */
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}

/* line 297, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}

/* line 298, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

/* line 299, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}

/* line 300, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

/* line 301, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

/* line 302, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}

/* line 303, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}

/* line 304, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

/* line 305, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

/* line 306, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}

/* line 307, ../scss/_jqueryui.scss */
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}

/* line 309, ../scss/_jqueryui.scss */
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}

/* line 310, ../scss/_jqueryui.scss */
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

/* line 311, ../scss/_jqueryui.scss */
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}

/* line 312, ../scss/_jqueryui.scss */
.ui-datepicker td {
  border: 0;
  padding: 1px;
}

/* line 313, ../scss/_jqueryui.scss */
.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}

/* line 314, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

/* line 315, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}

/* line 316, ../scss/_jqueryui.scss */
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
/* line 319, ../scss/_jqueryui.scss */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

/* line 320, ../scss/_jqueryui.scss */
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

/* line 321, ../scss/_jqueryui.scss */
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}

/* line 322, ../scss/_jqueryui.scss */
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

/* line 323, ../scss/_jqueryui.scss */
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

/* line 324, ../scss/_jqueryui.scss */
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

/* line 325, ../scss/_jqueryui.scss */
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0;
}

/* line 326, ../scss/_jqueryui.scss */
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

/* line 327, ../scss/_jqueryui.scss */
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

/* line 328, ../scss/_jqueryui.scss */
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0em;
}

/* RTL support */
/* line 331, ../scss/_jqueryui.scss */
.ui-datepicker-rtl {
  direction: rtl;
}

/* line 332, ../scss/_jqueryui.scss */
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}

/* line 333, ../scss/_jqueryui.scss */
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

/* line 334, ../scss/_jqueryui.scss */
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}

/* line 335, ../scss/_jqueryui.scss */
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

/* line 336, ../scss/_jqueryui.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

/* line 337, ../scss/_jqueryui.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

/* line 338, ../scss/_jqueryui.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}

/* line 339, ../scss/_jqueryui.scss */
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

/* line 340, ../scss/_jqueryui.scss */
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* line 341, ../scss/_jqueryui.scss */
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
/* line 344, ../scss/_jqueryui.scss */
.ui-datepicker-cover {
  display: none;
  /*sorry for IE5*/
  display/**/: block;
  /*sorry for IE5*/
  position: absolute;
  /*must have*/
  z-index: -1;
  /*must have*/
  filter: mask();
  /*must have*/
  top: -4px;
  /*must have*/
  left: -4px;
  /*must have*/
  width: 200px;
  /*must have*/
  height: 200px;
  /*must have*/
}
